# uses allow-list, so initially ignore everything
*

# allow github, workflows and templates
!.github/
!.github/workflows/
!.github/workflows/*.yaml
!.github/issue_template/
!.github/issue_template/*.md
!.gitignore
!.lycheeignore

# allow markdown and the assets
!*.md
!license.txt
!assets/
!assets/images/
!assets/images/*.svg
!assets/pdfs/
!assets/pdfs/*.pdf

# allow the stable area
!stable/
!stable-en/
!stable-en/title*.yaml
!stable-en/.*.md
!stable-en/01-introduction/
!stable-en/01-introduction/*.md
!stable-en/02-checklist/
!stable-en/02-checklist/*.md
!stable-en/03-appendices/
!stable-en/03-appendices/*.md
!stable-es/
!stable-es/title*.yaml
!stable-es/.*.md
!stable-es/01-introduction/
!stable-es/01-introduction/*.md
!stable-es/02-checklist/
!stable-es/02-checklist/*.md
!stable-es/03-appendices/
!stable-es/03-appendices/*.md

# allow the draft area
!draft-en/
!draft-en/title*.yaml
!draft-en/.*.md
!draft-en/01-introduction/
!draft-en/01-introduction/*.md
!draft-en/02-checklist/
!draft-en/02-checklist/*.md
!draft-en/03-appendices/
!draft-en/03-appendices/*.md

# allow jekyll build files
!404.html
!Gemfile
!_config.yml
!_data/
!_data/*.yaml
!_includes/
!_includes/*.html

